body {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #score {
    font-size: 24px;
    font-weight: bold;
  }
  
  #clickButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  